.gradient-background {
    background: linear-gradient(300deg, #222831, #393E46, #00ADB5);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }

#navbar {
    font-family: "Roboto Mono", sans-serif;
}

h1 {
    font-family: "Playwrite US Modern";
    font-size: 5rem;
    color: white;
    text-align: center;
    margin-top: 12rem;
}

h2 {
    font-family: "Roboto";
    text-align: center;
}

.desc {
    font-family: "Roboto";
    font-size: 2rem;
    text-align: center;
    color: white;
}

.my-img {
    height: 200px;
}

p {
    text-align: justify;
}

/* .flex-container {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
} */

.resume {
    margin-top: 50px;
}

.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
    background-color: #00ADB5;
}

.navbar {
    background-color: #222831;
}

#skills {
    background-color: #393E46;
}

  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
@media all and (min-width: 601px) {
    h1 {
        font-size: 5rem;
    }
    .desc {
        font-size: 3rem;
    }
}

@media all and (max-width: 600px) {
    h1 {
      font-size: 3rem;
    }
    .desc {
        font-size: 1rem;
    }
}
